{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>


    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Storylino</title>
    <link rel="stylesheet" href="{% static '/style.css' %}">
    <link rel="shortcut icon" href="../static/media/title-logo2.png">


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>       

</head>
<body>
  <main>
    <header>
        <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-dark">
          <!-- <a class="navbar-brand" href="#" style="color: white;">Storylino</a> -->
          <div><a class="logo-navbar" href="{% url 'home' %}"><img style="width: 200px;" src="{% static '/media/logo1.png' %}" alt="" ></a></div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            {% if user.is_authenticated %}
            <ul class="navbar-nav ml-auto">
                
              <li class="nav-item">
                  {% if user.profile %}
                  <a href="{% url 'profile' user.pk %}">
                    <img style="border-radius: 50%; vertical-align: middle; width: 40px; height: 40px;" 
                    src="{{ user.profile.url }}" alt="">
                  </a>
                  {% else %}
                  <a href="{% url 'profile' user.pk %}">
                    <img style="border-radius: 50%; vertical-align: middle; width: 40px; height: 40px;" 
                  src="{% static '/media/profile.jpg' %}" alt="">
                  </a>
                  {% endif %}

                </li>
                <li class="nav-item">
                <a class="btn btn-secondary dropdown-toggle" href="#" id="userMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> {{ user.username }} </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userMenu">
                <a class="dropdown-item" href="{% url 'post_create' %}"> Create New Post</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'password_change'%}">Change password</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'logout' %}"> Log Out</a>
                

            {% else %}
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a href="{% url 'login' %}"><button type="button" class="btn btn-outline-secondary">LOG IN</button></a>
              </li>
              <li class="nav-item">
                <a href="{% url 'signup' %}"><button type="button" class="btn btn-outline-secondary">SIGN UP</button></a>
              </li>
            </ul>
            {% endif %}

            
          </div>
        </nav>
      </header>
      {% block content%}
      {% endblock content %}
      
      <div>
        <footer style="bottom: 0; padding: 30px 0 0 0; height: 80px; background-color: #343A40;" class="page-footer">
          <div class="text-center">
            <small style="margin-top: 60px; color: white; align-items: center;">Copyright &copy; 2020 Turan Eminli. All Rights Reserved</small>
          </div>
        </footer>
      </div>

  </main>
  
  

</body>
</html>
