{% extends 'base.html' %}
{% load static %}

{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

{% block content %}
<body style="background-color: #6A6666;">
        <div   class="container text-center align-self-center">
            <div class="row align-items-center">
                <div  style="margin-left: auto; margin-right: auto; margin-bottom: 150px; margin-top: 100px; background-color: #D9D9D9;  border-radius: 10px;" class="col-sm-12">
                    <!-- <h1>Profile</h1>
                    {% if user_profile.profile %}
                    <img style="margin-top: 20px; margin-bottom: 20px; border-radius: 50%; vertical-align: middle; width: 100px; height: 100px;" 
                            src="{{ user_profile.profile.url }}" alt="">
                    {% else %}
                    <img style="margin-top: 20px; margin-bottom: 20px; border-radius: 50%; vertical-align: middle; width: 100px; height: 100px;" 
                          src="{% static '/media/profile.jpg' %}" alt="">
                    {% endif %}

                    
                    <h6>Username: {{ user_profile.username }}</h6>
                    <h6>Email: {{ user_profile.email }}</h6>
                    <h6>Age: {{ user_profile.age }}</h6> -->
                    
                        <div style="margin-top: 100px; margin-bottom: 100px;"  class="container align-items-center text-center" >
                            <h1>Edit</h1>
                            <form action="" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <button class="btn btn-secondary ml-2" type="submit">Update</button>
                            </form>
                        </div>

                    

                </div>
            </div>  
        </div>
<body>
{% endblock content %}